.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  height: 6rem;
  width: 100%;
  padding: 0 4rem;

  font-family: "Poppins", serif;
  box-shadow: 0 0 1.5rem rgb(0 0 0 / 0.3);
  background-color: #121214;
}

.logo {
  font-size: 3rem;
  cursor: pointer;
  color: #ccc;
  background-color: transparent;
  transition: 0.2s;
}

.logo:hover {
  color: #f1f1f1;
}

#navbar {
  display: none;
}

.navigation {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.4rem;
      color: #ccc;
      font-weight: 500;

      height: 100%;
      border-left: 0.1rem solid #cccccc67;
      padding: 0 1.5rem;

      cursor: pointer;
      list-style-type: none;
      transition: 0.2s;
    }

    li:hover {
      color: #f1f1f1;
      background-color: #5e5d5d;
    }
  }
}

@media only screen and (max-width: 858px) {
  .header {
    padding: 0;
    box-shadow: none;

    & .logo {
      padding-left: 2rem;
      font-size: 2.8rem;
    }
  }

  #navbar {
    display: block;
    padding-right: 2rem;

    font-size: 3rem;
    color: #ccc;
    background-color: transparent;
  }

  .navigation {
    position: fixed;

    height: 100dvh;
    width: 100%;
    background-color: #09090a;
    top: 6rem;
    right: -100%;
    transition: all 0.5s;

    ul {
      height: calc(100% - 6rem);
      width: 100%;
      padding: 0 5rem;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;

      li {
        font-size: 2rem;
        font-weight: 400;

        height: fit-content;
        width: 100%;
        padding: 0;
        border: 0;
      }

      li:hover {
        color: #ccc;
        background-color: #09090a;
      }
    }
  }

  .navigation.active {
    right: 0;
  }
}
