<main>
  <section class="home">
    <h1>Super Stellar</h1>
    <h2>
      Escolha sua espaçonave, venha explorar o universo interestelar e
      <span> faça parte dessa missão</span>
    </h2>
    <p>
      Descubra novos mundos, desvende os segredos do cosmos e faça parte dessa
      emocionante missão que irá desafiar seus limites e inspirar sua
      imaginação.
    </p>
  </section>
  <section class="starship">
    <span>Ei, piloto!</span>
    <p class="title">
      Que tal assumir o comando de sua própria frota de espaçonaves?
    </p>
    <p class="subtitle">
      Explore, cadastre ou busque sua espaçonave, e aproveite a oportunidade
      para modificar as espaçonaves já registradas, seja alterando suas
      especificações, ou removendo aquelas que não são mais necessárias para sua
      missão.
    </p>
    <button class="btn">Embarcar</button>
  </section>
  <section class="mission">
    <span>Pronto, capitão?</span>
    <p class="title">
      Tudo pronto? Escolha sua missão e embarque nesse desafio
    </p>
    <p class="subtitle">
      Adicione novas missões e envie uma ou mais espaçonaves nessa jornada. Está
      em dúvida se já enviou uma espaçonave? Consulte o registro de missões.
    </p>
    <button class="btn">Decolar</button>
  </section>
</main>
